body {
  background-color: #ffffffff;
}

#notFound {
  display: none;
  font-size: 19px;
}
.title {
  font-weight: 700;
  color: #5bc0de;
}
.stl {
  background-color: #f0f5f6ab;
  border-radius: 15px;
  border: none;
}
#spinner {
  display: none;
}
#seeAllBtn {
  display: none;
}
.header-title {
  color: blue;
}
